/* For light mode */
:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: var(--mantine-color-acker-gray-0) !important;
}

/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: var(--mantine-color-acker-gray-9) !important;
}

:root {
  --card-padding: rem(24);
}

.mantine-Button-label {
  font-weight: 400;
  text-transform: uppercase;
}

.mantine-Card-root {
  gap: var(--mantine-spacing-sm)
}